 # Java template for Colaboratory notebooks

In [ ]:
!apt update -q
!apt-get install -q openjdk-11-jdk-headless
!curl -L https://github.com/SpencerPark/IJava/releases/download/v1.3.0/ijava-1.3.0.zip -o ijava-kernel.zip
!unzip -q ijava-kernel.zip -d ijava-kernel && cd ijava-kernel && python3 install.py --sys-prefix
!jupyter kernelspec list

In [ ]:
System.out.println("Hello World");

In [ ]:
byte b = (byte)128;
System.out.println(b);
int k = b;
System.out.println(b)

In [ ]:
short s = 10;
int n = 10;
long l = 10;

In [ ]:
int m = (int)10l;

In [ ]:
float f = 10.5f;

In [ ]:
int p = (int)10.8;
System.out.println(p);

In [ ]:
char c= 'c';
System.out.println(c)

In [ ]:
int h = c;
System.out.println(h)

In [ ]:
int a = 'A';
System.out.println(a);
char t = (char)a;
System.out.println(t);

In [ ]:
char u = 65;

In [ ]:
byte g = (byte)(10 + 120);
System.out.println(g)

In [ ]:
long x = 1000 + 10000;
System.out.println(x)

In [ ]:
int x = (int) (10L + 10L);

In [ ]:
boolean bol1 = false;
boolean bol2 = true;
System.out.println(bol1);
System.out.println(bol2);

In [ ]:
String mama = "Hola como estas bb";
System.out.println(mama);

In [ ]:
Scanner scn = new Scanner(System.in);
scn.nextLine();

In [ ]:
Scanner scn = new Scanner(System.in);
scn.nextLine();

In [ ]:
int x = 6;
int v = 36;
//"v es multiple de x" si v es multiple de x
//la operacion modulo %. ejemplo: 21 % 7 = 0
// ejemplo: 16 % 5 = 1
if (v % x == 0) }
  System.out.println("v es multible de x");
  System.out.printf("v = %d %n" , v);

# Nueva sección

In [ ]:
String mon = "world";
int n = 55;
System.out.printf("hello %s!!! %nBye Bye %d%n" , mon, n);

In [ ]:
System.out.printf("Numero deu mil milions = %,d %n" , 1000000000);

In [ ]:
System.out.printf("Numero pi = %5.2f%n", 3.1415);

In [ ]:
int dia = 1;
int mes = 10;
int any = 2017;
System.out.printf("%02d/%2d/%4d%n",dia, mes, any);

Blocs de codi

In [ ]:
int n = 7; //es visible para todos los bloc fills
{
  //bloc de codi 1
  System.out.printf("des del bloc de codi 1: n = %d %n" ,n);
int m = 10;
}
{
  //bloc de codi 2 fill de l1
    System.out.printf("des del bloc de codi 2: n = %d %n" ,n);
    System.out.printf("des del bloc de codi 2: n = %d %n" ,n);
}
{
  //bloc de codi 3 germa de 
  System.out.printf("des del bloc de codi 3: n = %d %n" ,m);
}

System.out.printf("des del bloc de codi cel.la:n = %d %n", n);

***EXAMEN DE PROGRAMACION***

**1:**

Declara dos variables de tipo byte, b0 y b1, y asignales respectivamente los valores 122 y 14:

¿Qué resultado obtenemos? 
-136
¿Por qué? 
Obtenemos el resultado de una suma comun
¿De qué tipo de dato es la variable temporal creada por el notebook?
Es interger
//TOD0

In [ ]:
byte b0 = 122; byte b1 = 14;
int r = (int)(b0 + b1);
System.out.printf("Resultado - %d%n" ,r);

2.

Declara una variable de tipo char llamada c, y asigna el valor 'a':
**a**
Declara una variable de tipo int, llamada n, y asignale el valor de la variable c: **97**
**¿Qué resultado obtienes?**
Obtengo un cambio de "char a string"
**¿Por que?**
Porque string puede tener caracteres en letras char no
//TODO

In [ ]:
char c = 'a';
System.out.printf("Resultado en string %s%n" ,c);
int n = c;
System.out.printf("Resultado %d%n" ,n);

Ahora, declara una variable de tipo short, llamada s, y asignale el valor de la variable c:
**¿Por qué ahora el resultado obtenido es diferente que en el caso anterior?**
Porque se necesita forzar el short si no saldria error 
//TODO

In [ ]:
char c = 'a';
short s = c;
System.out.printf("Resultado %d%n" ,s);

In [ ]:
char c = 'a';
short s = (short) c;
System.out.printf("Resultado %s%n" ,s);

3.

Continuando con las variables de tipo char y short declaradas en el ejercicio 2, ahora ejecute:
**¿Cómo se llama esto que estamos haciendo con la variable c? **
Se llama casting(Forzar)  
**¿Qué resultado obtenemos ahora? **
Obtemos un resultado del forzado que seria "97" por los codigos de arriba
**¿Por qué (qué está pasando)?**
Porque al forzar el short ahora si da un resultado
//TODO

In [ ]:
char c = 'a';
short s = (short) c;
System.out.printf("Resultado %d%n" ,s);

4.

Ejecuta el siguiente código en una celda del notebook:
**¿Qué resultados obtienes? **
-30536
**¿Por qué?**
Porque los 32000 se mantienen en positivo porque entran en el rango de los numeros positivos en cambio el 35000 no entra ya que el rango maximo de los positivos es 32767 entonces se tendria que elevar los 16 bits a 2 para que nos de un resultado de 65 536 y poder restarlo con el 35000 y nos daria el resultado final.
//TODO

In [ ]:
short s = (short)32000;
short s= (short)35000;
System.out.printf("Resultado %d%n" ,s);

5.

Ejecuta el siguiente código con el jshell:
Que tipo de Variable?
Es una variable float porque tiene un decimal

In [ ]:
var v = 5.0;
var v0 = 5;
System.out.printf("%f%n %d%n" ,v ,v0 );
var v1 = v + v0;
System.out.printf("%1.1f%n" , v1);
var v1 = v + v0;
System.out.printf("%f%n", v1);

8.

Declare dos variables de tipo char de la siguiente manera:
El objetivo de este ejercicio es asignar el valor 'b' en una tercera variable de tipo char, pero sin usar el literal 'b', sino haciendo la suma de las variables c y c1, es decir
**¿Qué está pasando? **
Pues me saldria error si intento sumar 2 "char" 
**¿Cómo lo podemos solucionar con el fin de conseguir el objetivo de este ejercicio?**
Intercambiando un char c2 a un int c2 y ya tendriamos el resultado
//TODO

In [ ]:
char c = 'a', c1 = 1;
System.out.printf ("%s%n %s%n", c , c1);
int c2 = c + c1;
System.out.printf ("%d%n" , c2 )

9.

Ejecuta la siguiente expresión y asignala a una variable h
Ahora, asigna el valor guardado a la variable h, a otra variable de tipo float:
**¿Qué obtenemos? **
Obtenemos un error
**¿Por qué?**
Porque queremos sumar un float a double
//TODO

In [ ]:
var h = 4 * 4f + (4.0 + 4);
System.out.printf ("%1.1f%n" , h );
float f = h;
System.out.printf ("%f%n" , f);

Ahora escribe el cambio que hay que hacer en la expresión inicial (4 * 4f + (4.0 + 4)) para que la asignación del valor de h a f sea exitoso.
Si forzamos a 4.0 a que sea un float ahora si tendriamos un mejor resultado
//TODO

In [ ]:
var h = 4 * 4f + (4.0f + 4);
System.out.printf ("%1.1f%n" , h );
float f = h;
System.out.printf ("%f%n" , f);

10.

A partir de las siguientes variables y asignaciones:
Ejecuta el siguiente código:
Explica los resultados obtenidos en cada caso:
En el 1 esta correcto 
en el 2 es una suma asi que no me da el resultado asi que no me puede dar un true false
en el 3 seria un tru false 
Y pues con me da error porque el 2 esta mal y como es un resultado en vertical se para en el segundo ya que esta mal y apenas se lo corrige ya todo saldria bien //TODO

In [ ]:
byte b0 = 4, b1 = -4, b2 = 12;

boolean bol1 = b0 == b2 / 3;
  System.out.printf ("%b%n" , bol1);
boolean bol2 = b0 + b1;
  System.out.printf ("%b%n" ,bol2);
boolean bol3 = b0 + b1 > b2;
  System.out.printf ("%b%n" ,bol3);

In [ ]:
byte b0 = 4, b1 = -4, b2 = 12;

boolean bol1 = b0 == b2 / 3;
  System.out.printf ("%b%n" , bol1);
boolean bol2 = b0 == b1;
  System.out.printf ("%b%n" ,bol2);
boolean bol3 = b0 + b1 > b2;
  System.out.printf ("%b%n" ,bol3);

In [ ]:
int edat = 12;

if (edat >=18)
  System.out.printf("Edat validad: es mayor de edad %n");

else if (edat<=18 && edat >=0)
  System.out.printf("Edat invalidada pero este es menor y no puede %n");
else 
  System.out.printf("Edat invalidad, no has nascut %n");

//System.out.printf("edad valida es un adolecente %n"); //de 12 a 17
//System.out.printf("edad valida es un nen %n"); //de 0 a 11

In [ ]:
int edat = 12;

if (edat >=18)
  System.out.printf("Edat validad: es mayor de edad %n");

else if (edat<=18 && edat >=0)
  System.out.printf("Edat invalidada pero este es menor y no puede %n");
else if (edat<=18 && edat >=0)
  System.out.printf("Edat invalidada pero este es menor y no puede %n");
else 
  System.out.printf("Edat invalidad, no has nascut %n");