: # Java template for **Colaboratory** notebooks

In [ ]:
!apt update -q
!apt-get install -q openjdk-11-jdk-headless
!curl -L https://github.com/SpencerPark/IJava/releases/download/v1.3.0/ijava-1.3.0.zip -o ijava-kernel.zip
!unzip -q ijava-kernel.zip -d ijava-kernel && cd ijava-kernel && python3 install.py --sys-prefix
!jupyter kernelspec list

In [ ]:
System.out.println("Hello World");

In [ ]:
byte b = (byte)128; 
System.out.println(b);

In [ ]:
System.out.println("Hello World");

In [ ]:
System.out.println(b);

In [ ]:
byte b = -128;

In [ ]:
int n = 10;
short s = 10;
long l= 10;

In [ ]:
int n = (int)10L;

In [ ]:
float f = 10.5f;

In [ ]:
char  c = 'A';
System.out.println(c);

In [ ]:
int  h = c;
System.out.println(h);

In [ ]:
int a = 'A' + 10;
System.out.println(a);
char f = (char)a;
System.out.println(f);

In [ ]:
byte g = (byte) (10 + 120);
System.out.println(g);

In [ ]:
byte q = 10 + (byte)120;
System.out.println(q);

In [ ]:
long x = (int)(20 + 5000);
System.out.println(x);

In [ ]:
boolean bol1 = false;
boolean bol2 = true;
System.out.println(bol1);
System.out.println(bol2);

In [ ]:
String salutacio = "Hola";
System.out.println(salutacio);

In [ ]:
Scanner scn = new Scanner(System.in);
scn.nextLine();

EXPRESIONES ARITMETICAS

In [ ]:
//SUMA Para imprimir ambas lineas, deberá agregarse la codificación System.out.println()
System.out.println(10 + 9);
//RESTA
System.out.println(10 - 9);
//Multiplicación
System.out.println(10 * 9);
//DIVISIÓN ENTERA
System.out.println(10 / 9);
//DIVISION DECIMAL
System.out.println(10 / 9.0);
//EN LA DIVISION DECIMAL, BASTA CON 1 QUE TENGA EL . PARA QUE FUNCIONE

In [ ]:
int n = 4;
int m = 2;
int r= 2*(n / m) + ( n * m ); //expresión aritmética -> se evalua -> el resultado se asiga a la variable, en este caso "r"
System.out.println(r);

EXPRESIONES LÓGICAS (BOOLEANES)

In [ ]:
boolean jo = true;
boolean tu = false; 

boolean resultAnd = jo && tu; 
boolean resultOr = jo || tu;
boolean resultNot = !jo;


System.out.println(resultAnd);
System.out.println(resultOr);
System.out.println(resultNot);

True & true = true

True & falso = false

False & falso = false


True | true = true

True | false = true

False | False = false

OPERADORES DE COMPARACION

In [ ]:
6 == 5; //El == es operador comparacion igualitat
int n = 5; //Es operador assignación

In [ ]:
int x; // declaración
int y = 6; // declaración de variable y assignación al número
x = 6; // asignación


System.out.println(x == y); //Igualdad
System.out.println(x != y); //Diferencia
System.out.println(x > y); //mas grande que
System.out.println(x < y); //mas pequeño que
System.out.println(x >= y); //mas grande o igual que
System.out.println(x <= y); //mas pequeño o igual que

In [ ]:
int n = 5, m = 10;
int r = n * m;
System.out.println(r);

In [ ]:
boolean jo = true, tu = false;
boolean result = jo && tu;
System.out.println(result);

In [ ]:
boolean res = 6 == 5;
if (!res)
  System.out.println("Res no es true");
else
  System.out.println("Res no es false");

In [ ]:
if (res)

In [ ]:
int num = 5;
//true si el num está entre 10 i 20 inclosos.
//false si no está 
if (num >= 10 && num <=20)
  System.out.println("5 está entre 10 y 20");
else
  System.out.println("5 no está entre 10 y 20");

In [ ]:
int x = 6;
int v = 55;
//"v es multiple de x" si v es multiple de x
//"v no es multiple de x" si v no es multiple de x
if (v % x == 0)
  System.out.println("V es múltiple de x");
else
  System.out.println("V no es múltiple de x");

In [ ]:
int v = 35, x = 7;
System.out.printf("v = %d, x = %d%n", v, x); // La d es una variable de sustitución para tipo Interer, la n es para dar un salto de linea

In [ ]:
int v = 55
System.out.printf("Numero natural = %d%n", v);

In [ ]:
System.out.printf("'%5.2f'%n", 5.1473);

In [ ]:
System.out.printf("Numero pi = %.2f%n", 3.1415);

In [ ]:
System.out.printf("Fecha actual %02d/%2d/%4d%n", 04, 10, 2022)

In [ ]:
//FOMRA CORRECTA
int dia = 1;
int mes = 10;
int any = 2022;
System.out.printf("%02d/%2d/%4d%n", dia, mes, any); //se coloca el 0 adelante del indicador de cantidad de espacios.

BLOCS DE CODIGO

In [ ]:
int n = 7 //Esta variable será visible en todos los bloques de código
{
  //BLOC DE CODI, SE PUEDEN PONER TANTAS INSTRUCCIONES COMO QUERAMOS.
  {
      //BLOC DE CODI HIJO
  }
}
{
  //BLOC DE CODI, HERMANOS DEL ANTERIOR

}

**Pregunta 1**

Declara dues variables de tipus byte, b0 i b1, i assigna-lis respectivament els valors 122 i 14:

byte b0 = 122; byte b1 = 14;
Suma les dues variables, sense assignar el resultat a cap variable (jshell l'assignarà automàticament a un variable temporal, que comença per $):

b0 + b1

In [ ]:
byte b0 = 122;
byte b1 = 14;

System.out.printf("RESULTADO = %d%n", b0 + b1)

Quin resultat obtenim?
**El resultado es 136** 

Per què? 
**Porque es una suma simple**

De quin tipus de dada és la variable temporal creada pel notebook?
**Integer**

In [ ]:
byte b0 = 122; byte b1 = 14;
int r = (int)(b0 + b1);
System.out.printf("Resultado = %d%n", r);

**Pregunta 2**

Declara una variable de tipus char anomenada c, i assignali el valor 'a':

char c = 'a';
Declara una variable de tipus int, anomenada n, i assigna-li el valor de la variable c:

int n = c;
Quin resultat obtens? Per què?

In [ ]:
char c = 'a'; 
  System.out.printf("STRING = %s%n", c); // Imprimir en tipo string
int n = c;
  System.out.printf("RESULTADO = %d%n", n)

**El resultado es tipo INTEGER, debido a que se cambia de char a int, entonces el resultado se visualiza como el número que representa a la letra**

Ara, declara una variable de tipus short, anomenada s, i assigna-li el valor de la variable c:

short s = c;

In [ ]:
char c = 'a';
short s = c;
 System.out.printf("%d%n", s)

**Nos da un error, debido a que short es un tipo de dato menor a integer, por lo tanto lo que se tendría que hacer es forzarlo.**

In [ ]:
char c = 'a';
short s = (short) c;
 System.out.printf("%d%n", s)

**Pregunta 3**

Continuant amb les variables de tipus char i short declarades a l'exercici 2, ara executeu:

short s = (short)c;

In [ ]:
char c = 'a';
short s = (short)c;
 System.out.printf("%d%n", s)

Com s'anomena això que estem fent amb la variable c? Quin resultat obtenim ara? Per què (què està passant)?

**Se le denomina casting(forzar), obtenemos un resultado correcto, debido a que forzamos al short a poder realizar esta operación.**

**Pregunta 4**

Executa el següent codi en una cel·la del notebook:

short s = (short)32000;

short s = (short)35000;

In [ ]:
short s = (short)32000;
  System.out.printf("%d%n", s);

short s = (short)35000;
  System.out.printf("%d%n", s);

**Quins resultats obtens? Per què?**

Los 32000 se muestra en positivo, porque está dentro del rango de valores permitidos.

El -30536 se muestra en negativo, porque se encuentra fuera del rango, y se hace la conversión del total en negativo (-65536) de su capacidad menos (35000) del número que buscamos, y nos da como resultado "**-30536**"

**Pregunta 5**

Executa el següent codi amb el jshell:

var v = 5.0;
var v0 = 5;

In [ ]:
var v = 5.0;
  System.out.printf("Es una varialbe tipo float: %.1f%n", v);
var v0 = 5;
  System.out.printf("Es una varialbe tipo integer: %d%n", v0);

In [ ]:
var v = 5.0;
var v0 = 5;
  var v1 = v + v0
  System.out.printf("Resultado = %.1f%n", v1)

De quin tipus de dada és la variable v1?
**De tipo Float.** 

Per què (què està passant en fer-se la suma)?
**Porque si se suma un float con un integer, por jerarquía el resultado será float.**

**Pregunta 8**

Declareu dues variables de tipus char de la següent manera:

char c = 'a', c1 = 1;

L'objectiu d'aquest exercici és assignar el valor 'b' en una tercera variable de tipus char, però sense usar el literal 'b', sinó fent la suma de les variables c i c1, és a dir:

char c2 = c + c1;

In [ ]:
char c = 'a'; c1 = 1;
char c2 = c + c1; 
  System.out.printf("Resultado = %s%n", c2)

Què està passant? 

**Nos sale un error, debido a que la suma no se puede hacer de tipo char**

Com ho podem solucionar per tal d'aconseguir l'objectiu d'aquest exercici?
**Sustituyendo el "char c2" por "int c2".**

In [ ]:
char c = 'a'; c1 = 1;
int c2 = c + c1; 
  System.out.printf("Resultado = %d%n", c2)

**Pregunta 9**

Executa la següent expressió i assigna-la a una variable h:

var h = 4 * 4f + (4.0 + 4);

Ara, assigna el valor guardat a la variable h, a una altra variable de tipus float:

float f = h;

In [ ]:
var h = (4 * 4f + (4.0 + 4));
  System.out.printf("%f%n", h);

float f = h;
  System.out.printf("%.1f%n", f)

Què obtenim? Per què?

**Obtenemos un error de incompatibildad de tipos de datos, debido a que el "4,0" de la operación inicial no se ha forzado como float, entonces la única forma de imprimirlo es como "doble f = h". Entonces, se debe hacer el "4.0f"**

In [ ]:
var h = 4 * 4f + (4.0f + 4);
  System.out.printf("%f%n", h);

float f = h;
  System.out.printf("%.1f%n", f)

**Ahora la operación se resuelve de forma correcta.**

**Pregunta 10**

A partir de les següents variables i assignacions:

In [ ]:
byte b0 = 4, b1 = -4, b2 = 12;
  boolean bol1 = b0 == b2 / 3;
    System.out.printf("%b%n", bol1);
  boolean bol2 = b0 + b1;
    System.out.printf("%b%n", bol2); 
  boolean bol3 = b0 + b1 > b2;
    System.out.printf("%b%n", bol3);

**El primero al haber una comparación, es correcto debido a que es boolean.**

**El segundo al ser una suma, no puede ser boolean.**

**El tercero es una comparación correcta, pero al leerse de manera de cascada, al no resolver el error de arriba, no puede mostrarse el resultado de abajo hasta que se corrija.**